BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP    "serial_tx"   SITE "B9";
IOBUF PORT     "serial_tx"   IO_TYPE=LVCMOS33;
LOCATE COMP    "serial_rx"   SITE "A9";
IOBUF PORT     "serial_rx"   IO_TYPE=LVCMOS33;

LOCATE COMP    "clk25"       SITE "P6";
IOBUF PORT     "clk25"       IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk25"       25.0 MHz;

LOCATE COMP    "pit_spk"     SITE "P11";
IOBUF PORT     "pit_spk"     IO_TYPE=LVCMOS33;

LOCATE COMP    "ym_sd"       SITE "P12";
IOBUF PORT     "ym_sd"       IO_TYPE=LVCMOS33;
LOCATE COMP    "ym_load"     SITE "N12";
IOBUF PORT     "ym_load"     IO_TYPE=LVCMOS33;
LOCATE COMP    "ym_clk"      SITE "P13";
IOBUF PORT     "ym_clk"      IO_TYPE=LVCMOS33;

LOCATE COMP    "vga_r[3]"    SITE "N13";
IOBUF PORT     "vga_r[3]"    IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_r[2]"    SITE "P14";
IOBUF PORT     "vga_r[2]"    IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_r[1]"    SITE "M12";
IOBUF PORT     "vga_r[1]"    IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_r[0]"    SITE "M13";
IOBUF PORT     "vga_r[0]"    IO_TYPE=LVCMOS33;

LOCATE COMP    "vga_g[3]"    SITE "L14";
IOBUF PORT     "vga_g[3]"    IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_g[2]"    SITE "L13";
IOBUF PORT     "vga_g[2]"    IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_g[1]"    SITE "K14";
IOBUF PORT     "vga_g[1]"    IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_g[0]"    SITE "K13";
IOBUF PORT     "vga_g[0]"    IO_TYPE=LVCMOS33;

LOCATE COMP    "vga_b[3]"    SITE "J14";
IOBUF PORT     "vga_b[3]"    IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_b[2]"    SITE "J13";
IOBUF PORT     "vga_b[2]"    IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_b[1]"    SITE "H14";
IOBUF PORT     "vga_b[1]"    IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_b[0]"    SITE "H13";
IOBUF PORT     "vga_b[0]"    IO_TYPE=LVCMOS33;

LOCATE COMP    "vga_vs"      SITE "G14";
IOBUF PORT     "vga_vs"      IO_TYPE=LVCMOS33;
LOCATE COMP    "vga_hs"      SITE "G13";
IOBUF PORT     "vga_hs"      IO_TYPE=LVCMOS33;

LOCATE COMP    "ps2_mclk"    SITE "F14";
IOBUF PORT     "ps2_mclk"    IO_TYPE=LVCMOS33;
LOCATE COMP    "ps2_mdat"    SITE "F13";
IOBUF PORT     "ps2_mdat"    IO_TYPE=LVCMOS33;

LOCATE COMP    "ps2_kclk"    SITE "E14";
IOBUF PORT     "ps2_kclk"    IO_TYPE=LVCMOS33;
LOCATE COMP    "ps2_kdat"    SITE "E13";
IOBUF PORT     "ps2_kdat"    IO_TYPE=LVCMOS33;

LOCATE COMP    "pmod[0]"     SITE "E12";
IOBUF PORT     "pmod[0]"     IO_TYPE=LVCMOS33;
LOCATE COMP    "pmod[1]"     SITE "D13";
IOBUF PORT     "pmod[1]"     IO_TYPE=LVCMOS33;
LOCATE COMP    "pmod[2]"     SITE "D12";
IOBUF PORT     "pmod[2]"     IO_TYPE=LVCMOS33;
LOCATE COMP    "pmod[3]"     SITE "D11";
IOBUF PORT     "pmod[3]"     IO_TYPE=LVCMOS33;
LOCATE COMP    "pmod[4]"     SITE "C13";
IOBUF PORT     "pmod[4]"     IO_TYPE=LVCMOS33;
LOCATE COMP    "pmod[5]"     SITE "C12";
IOBUF PORT     "pmod[5]"     IO_TYPE=LVCMOS33;
LOCATE COMP    "pmod[6]"     SITE "C11";
IOBUF PORT     "pmod[6]"     IO_TYPE=LVCMOS33;
LOCATE COMP    "pmod[7]"     SITE "C10";
IOBUF PORT     "pmod[7]"     IO_TYPE=LVCMOS33;

LOCATE COMP    "sd_do"       SITE "A8";
IOBUF PORT     "sd_do"       IO_TYPE=LVCMOS33;
LOCATE COMP    "sd_di"       SITE "A7";
IOBUF PORT     "sd_di"       IO_TYPE=LVCMOS33;
LOCATE COMP    "sd_clk"      SITE "B8";
IOBUF PORT     "sd_clk"      IO_TYPE=LVCMOS33;
LOCATE COMP    "sd_cs"       SITE "B7";
IOBUF PORT     "sd_cs"       IO_TYPE=LVCMOS33;

LOCATE COMP    "led_io"      SITE "A6";
IOBUF PORT     "led_io"      IO_TYPE=LVCMOS33;

LOCATE COMP    "sw_rst"      SITE "P2";
IOBUF PORT     "sw_rst"      IO_TYPE=LVCMOS33;

LOCATE COMP    "ex_cpu_ah[11]"  SITE "C5";
IOBUF PORT     "ex_cpu_ah[11]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[10]"  SITE "C6";
IOBUF PORT     "ex_cpu_ah[10]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[9]"   SITE "C7";
IOBUF PORT     "ex_cpu_ah[9]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[8]"   SITE "C8";
IOBUF PORT     "ex_cpu_ah[8]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[7]"   SITE "C9";
IOBUF PORT     "ex_cpu_ah[7]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[6]"   SITE "D9";
IOBUF PORT     "ex_cpu_ah[6]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[5]"   SITE "D8";
IOBUF PORT     "ex_cpu_ah[5]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[4]"   SITE "D7";
IOBUF PORT     "ex_cpu_ah[4]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[3]"   SITE "D6";
IOBUF PORT     "ex_cpu_ah[3]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[2]"   SITE "D5";
IOBUF PORT     "ex_cpu_ah[2]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[1]"   SITE "D4";
IOBUF PORT     "ex_cpu_ah[1]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ah[0]"   SITE "E4";
IOBUF PORT     "ex_cpu_ah[0]"   IO_TYPE=LVCMOS33;

LOCATE COMP    "ex_cpu_ad[7]"   SITE "F4";
IOBUF PORT     "ex_cpu_ad[7]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ad[6]"   SITE "K4";
IOBUF PORT     "ex_cpu_ad[6]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ad[5]"   SITE "J4";
IOBUF PORT     "ex_cpu_ad[5]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ad[4]"   SITE "G3";
IOBUF PORT     "ex_cpu_ad[4]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ad[3]"   SITE "F3";
IOBUF PORT     "ex_cpu_ad[3]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ad[2]"   SITE "R7";
IOBUF PORT     "ex_cpu_ad[2]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ad[1]"   SITE "T6";
IOBUF PORT     "ex_cpu_ad[1]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ad[0]"   SITE "R5";
IOBUF PORT     "ex_cpu_ad[0]"   IO_TYPE=LVCMOS33;

LOCATE COMP    "ex_cpu_sso"     SITE "C4";
IOBUF PORT     "ex_cpu_sso"     IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_mn"      SITE "C3";
IOBUF PORT     "ex_cpu_mn"      IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_rd"      SITE "E3";
IOBUF PORT     "ex_cpu_rd"      IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_iom"     SITE "G4";
IOBUF PORT     "ex_cpu_iom"     IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_wr"      SITE "H3";
IOBUF PORT     "ex_cpu_wr"      IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_hlda"    SITE "J3";
IOBUF PORT     "ex_cpu_hlda"    IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_hold"    SITE "K3";
IOBUF PORT     "ex_cpu_hold"    IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_dtr"     SITE "R8";
IOBUF PORT     "ex_cpu_dtr"     IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_den"     SITE "P7";
IOBUF PORT     "ex_cpu_den"     IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ale"     SITE "R6";
IOBUF PORT     "ex_cpu_ale"     IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_inta"    SITE "T4";
IOBUF PORT     "ex_cpu_inta"    IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_nmi"     SITE "R4";
IOBUF PORT     "ex_cpu_nmi"     IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_intr"    SITE "R3";
IOBUF PORT     "ex_cpu_intr"    IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_test"    SITE "T3";
IOBUF PORT     "ex_cpu_test"    IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_ready"   SITE "T2";
IOBUF PORT     "ex_cpu_ready"   IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_clk"     SITE "R2";
IOBUF PORT     "ex_cpu_clk"     IO_TYPE=LVCMOS33;
LOCATE COMP    "ex_cpu_reset"   SITE "R1";
IOBUF PORT     "ex_cpu_reset"   IO_TYPE=LVCMOS33;

LOCATE COMP    "sram_a[0]"   SITE "H2";
IOBUF PORT     "sram_a[0]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[1]"   SITE "G2";
IOBUF PORT     "sram_a[1]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[2]"   SITE "G1";
IOBUF PORT     "sram_a[2]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[3]"   SITE "F2";
IOBUF PORT     "sram_a[3]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[4]"   SITE "F1";
IOBUF PORT     "sram_a[4]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[5]"   SITE "B6";
IOBUF PORT     "sram_a[5]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[6]"   SITE "A5";
IOBUF PORT     "sram_a[6]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[7]"   SITE "B5";
IOBUF PORT     "sram_a[7]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[8]"   SITE "A3";
IOBUF PORT     "sram_a[8]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[9]"   SITE "C1";
IOBUF PORT     "sram_a[9]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[10]"  SITE "C2";
IOBUF PORT     "sram_a[10]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[11]"  SITE "D1";
IOBUF PORT     "sram_a[11]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[12]"  SITE "D3";
IOBUF PORT     "sram_a[12]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[13]"  SITE "E1";
IOBUF PORT     "sram_a[13]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[14]"  SITE "E2";
IOBUF PORT     "sram_a[14]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[15]"  SITE "P1";
IOBUF PORT     "sram_a[15]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[16]"  SITE "N3";
IOBUF PORT     "sram_a[16]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[17]"  SITE "N1";
IOBUF PORT     "sram_a[17]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[18]"  SITE "M2";
IOBUF PORT     "sram_a[18]"  IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_a[19]"  SITE "M1";
IOBUF PORT     "sram_a[19]"  IO_TYPE=LVCMOS33;

LOCATE COMP    "sram_d[0]"   SITE "J2";
IOBUF PORT     "sram_d[0]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_d[1]"   SITE "K1";
IOBUF PORT     "sram_d[1]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_d[2]"   SITE "K2";
IOBUF PORT     "sram_d[2]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_d[3]"   SITE "L1";
IOBUF PORT     "sram_d[3]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_d[4]"   SITE "B2";
IOBUF PORT     "sram_d[4]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_d[5]"   SITE "B1";
IOBUF PORT     "sram_d[5]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_d[6]"   SITE "A2";
IOBUF PORT     "sram_d[6]"   IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_d[7]"   SITE "B3";
IOBUF PORT     "sram_d[7]"   IO_TYPE=LVCMOS33;

LOCATE COMP    "sram_ce1"    SITE "J1";
IOBUF PORT     "sram_ce1"    IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_ce2"    SITE "B4";
IOBUF PORT     "sram_ce2"    IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_oe"     SITE "A4";
IOBUF PORT     "sram_oe"     IO_TYPE=LVCMOS33;
LOCATE COMP    "sram_we"     SITE "L2";
IOBUF PORT     "sram_we"     IO_TYPE=LVCMOS33;
